@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root-level custom styles for fonts and smoothing */
:root {
  @apply font-sans text-base text-white bg-[#242424] leading-relaxed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility classes for the `a` element */
a {
  @apply font-medium text-[#646cff] no-underline;
}
a:hover {
  @apply text-[#535bf2];
}

/* Utility classes for the `body` */
body {
  @apply m-0 flex items-center min-w-[320px] min-h-screen;
}

/* Utility classes for `h1` */
h1 {
  @apply text-[3.2em] leading-tight;
}

/* Utility classes for `button` */
button {
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-[#1a1a1a] transition duration-300 ease-in-out cursor-pointer;
}
button:hover {
  @apply border-[#646cff];
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light mode overrides using media queries */
@media (prefers-color-scheme: light) {
  :root {
    @apply text-[#213547] bg-white;
  }
  a:hover {
    @apply text-[#747bff];
  }
  button {
    @apply bg-[#f9f9f9];
  }
}
